<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Avaliar Disciplina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar_usuario.css') }}">
</head>
<body>
    <header>
        <h1>Avaliação UFMG</h1>
        <p>Consulte e avalie disciplinas e professores nesse site</p>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/disciplinas">Disciplinas</a>
        <a href="/professores">Professores</a>
        
        {% if session.get('tipo') == 1 %}
            <a href="/cadastrar_admin">Cadastrar Administrador</a>
            <a href="/cadastrar_aluno">Cadastrar Aluno</a>
            <a href="/cadastrar_professor">Cadastrar Professor</a>
            <a href="/cadastrar_disciplina">Cadastrar Disciplina</a>
            <a href="/usuarios">Ver Usuários</a>
        {% endif %}
        
        {% if session.get('email') %}
            <a href="/logout">Sair</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </nav>

    <h1 style="text-align: center;">Avaliar Disciplina - {{ codigo }}</h1> 

    <form method="POST">
        <label for="nome">Código da disciplina:</label>
        <input type="text" name="nome" value="{{ codigo }}" readonly>
        <label for="matricula">Nome da disciplina:</label>
        <input type="text" name="nome" value="{{ nome }}" readonly>
        <label for="avaliacao">Avaliação:</label>
        <select name="avaliacao" id="avaliacao" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type="submit">Avaliar</button>
    </form>
</body>
</html>
