<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Disciplina</title>
    <link rel="stylesheet" href="/static/css/cadmin.css">
</head>
<body>
    <header>
        <h1>Cadastrar Disciplina</h1>
        <p>Crie uma nova disciplina</p>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/disciplinas">Disciplinas</a>
        <a href="/professores">Professores</a>
        {% if session.get('tipo')|int == 1 %}
            <a href="/cadastrar_admin">Cadastrar Administrador</a>
            <a href="/cadastrar_aluno">Cadastrar Aluno</a>
            <a href="/cadastrar_professor">Cadastrar Professor</a>
            <a href="/cadastrar_disciplina">Cadastrar Disciplina</a>
            <a href="/usuarios">Ver Usuários</a>
        {% endif %}
        {% if session.get('email') %}
            <a href="/logout">Sair</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </nav>

    <main>
        <form method="POST" action="/cadastrar_disciplina">
            <h1>Cadastrar Disciplina</h1>
    
            <label for="codigo">Código da Disciplina:</label>
            <input type="text" name="codigo" id="codigo" required>
    
            <label for="nome">Nome da Disciplina:</label>
            <input type="text" name="nome" id="nome" required>
    
            <input type="submit" value="Cadastrar">
    
            {% if sucesso %}
                <p style="color: green;">Disciplina cadastrada com sucesso!</p>
            {% elif disciplina_ja_existe %}
            <p style="color: red;">Erro ao cadastrar disciplina. Verifique se o código já está cadastrado!</p>
            {% endif %}
        </form>
    </main>    

    <footer>
        <p>PPG © 2025 - All Rights Reserved</p>
    </footer>
</body>
</html>
