<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Disciplinas Cadastradas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/usuarios.css') }}">
</head>
<body>
    <header>
        <h1>Avaliação UFMG</h1>
        <p>Consulte e avalie disciplinas e professores nesse site</p>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/disciplinas">Disciplinas</a>
        <a href="/professores">Professores</a>
        
        {% if session.get('tipo') == 1 %}
            <a href="/cadastrar_admin">Cadastrar Administrador</a>
            <a href="/cadastrar_aluno">Cadastrar Aluno</a>
            <a href="/cadastrar_professor">Cadastrar Professor</a>
            <a href="/cadastrar_disciplina">Cadastrar Disciplina</a>
            <a href="/usuarios">Ver Usuários</a>
        {% endif %}
        
        {% if session.get('email') %}
            <a href="/logout">Sair</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </nav>

    <h1>Disciplinas Cadastradas</h1>

<form method="get" style="text-align: center; margin-bottom: 20px;">
    <label for="tipo">Ordenar por:</label>
    <select name="ordenar" id="ordenar">
        <option value="nome" {% if ordenar == 'nome' %}selected{% endif %}>Nome</option>
        <option value="codigo" {% if ordenar == 'codigo' %}selected{% endif %}>Código</option>
        <option value="avaliacao" {% if ordenar == 'avaliacao' %}selected{% endif %}>Avaliação</option>
    </select>
    <button type="submit">Ordernar</button>
</form>

{% if disciplinas %}
    <table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Avaliação média</th>
            <th>Ação</th>
        </tr>
        {% for d in disciplinas %}
            <tr>
                <td>{{ d.codigo }}</td>
                <td>{{ d.nome }}</td>
                <td>{{ d.media_avaliacao }}</td>
                <td>
                    {% if is_admin %}
                        <!-- Formulário para editar disciplina -->
                        <form action="{{ url_for('editar_disciplina', codigo=d.codigo,  nome=d.nome) }}" method="GET" style="display:inline;">
                            <button type="submit" class="editar">✏️ Editar</button>
                        </form> |
                
                        <!-- Formulário para exclusão de disciplina -->
                        <form action="{{ url_for('excluir_disciplina', codigo=d.codigo, nome=d.nome) }}" method="POST" style="display:inline;">
                            <button type="submit" onclick="return confirm('Tem certeza que deseja excluir esta disciplina?');" class="excluir">❌ Excluir</button>
                        </form>
                    {% elif is_aluno %}
                    <!-- Formulário para avaliar disciplinas -->
                    <form action="{{ url_for('avaliar_disciplina', codigo=d.codigo, nome=d.nome) }}" method="GET" style="display:inline;">
                        <button type="submit" class="editar">✏️ Avaliar</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Nenhuma disciplina cadastrada.</p>
{% endif %}

</body>
</html>
