<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Disciplina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar_usuario.css') }}">
</head>
<body>
    <header>
        <h1>Avaliação UFMG</h1>
        <p>Consulte e avalie disciplinas e professores nesse site</p>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/disciplinas">Disciplinas</a>
        <a href="/professores">Professores</a>
        
        {% if session.get('tipo') == 1 %}
            <a href="/cadastrar_admin">Cadastrar Administrador</a>
            <a href="/cadastrar_aluno">Cadastrar Aluno</a>
            <a href="/cadastrar_professor">Cadastrar Professor</a>
            <a href="/cadastrar_disciplina">Cadastrar Disciplina</a>
            <a href="/usuarios">Ver Usuários</a>
        {% endif %}
        
        {% if session.get('email') %}
            <a href="/logout">Sair</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </nav>

    <h1 style="text-align: center;">Editar Disciplina - {{ disciplina.codigo }}</h1> 

    <form method="POST">
        <label for="nome">Código da Disciplina:</label>
        <input type="text" name="codigo" value="{{ disciplina.codigo }}" required>
        <label for="nome">Nome da Disciplina:</label>
        <input type="text" name="nome" value="{{ disciplina.nome }}" required>
        <button type="submit">Salvar alterações</button>
    </form>
</body>
</html>
