<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Porfessores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/usuarios.css') }}">
</head>
<body>
    <header>
            <h1>Avaliação UFMG</h1>
            <p>Consulte e avalie disciplinas e professores nesse site</p>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/disciplinas">Disciplinas</a>
        <a href="/professores">Professores</a>
        
        {% if session.get('tipo') == 1 %}
            <a href="/cadastrar_admin">Cadastrar Administrador</a>
            <a href="/cadastrar_aluno">Cadastrar Aluno</a>
            <a href="/cadastrar_professor">Cadastrar Professor</a>
            <a href="/cadastrar_disciplina">Cadastrar Disciplina</a>
            <a href="/usuarios">Ver Usuários</a>
        {% endif %}
        
        {% if session.get('email') %}
            <a href="/logout">Sair</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </nav>

    <h1>Professores Cadastrados</h1>

{% if professores %}
    <form method="get" style="text-align: center; margin-bottom: 20px;">
        <label for="tipo">Ordenar por:</label>
        <select name="ordenar" id="ordenar">
            <option value="nome" {% if ordenar == 'nome' %}selected{% endif %}>Nome</option>
            <option value="avaliacao" {% if ordenar == 'avaliacao' %}selected{% endif %}>Avaliação</option>
        </select>
        <button type="submit">Ordenar</button>
    </form>

    <table>
        <tr>
            <th>Nome</th>
            <th>Avaliação média</th>
            <th>Ação</th>
        </tr>
        {% for p in professores %}
            <tr>
                <td>{{ p.nome }}</td>
                <td>{{ p.media_avaliacao }}</td>
                <td>
                    {% if is_admin %}
                        <!-- Formulário para editar professor -->
                        <form action="{{ url_for('editar_usuario', email=p.email) }}" method="GET" style="display:inline;">
                            <button type="submit" class="editar">✏️ Editar</button>
                        </form> |
                
                        <!-- Formulário para exclusão de professor -->
                        <form action="{{ url_for('excluir_usuario', email=p.email) }}" method="POST" style="display:inline;">
                            <button type="submit" onclick="return confirm('Tem certeza que deseja excluir este professor?');" class="excluir">❌ Excluir</button>
                        </form>
                    {% elif is_aluno %}
                        <!-- Formulário para avaliar professor -->
                        <form action="{{ url_for('avaliar_professor', matricula=p.matricula, nome=p.nome) }}" method="GET" style="display:inline;">
                            <button type="submit" class="editar">✏️ Avaliar</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Nenhum professor cadastrado.</p>
{% endif %}

    <footer>
        <p>PPG © 2025 - All Rights Reserved</p>
    </footer>
</body>
</html>
