<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação UFMG</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
            <h1>Avaliação UFMG</h1>
            <p>Consulte e avalie disciplinas e professores nesse site</p>

    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/disciplinas">Disciplinas</a>
        <a href="/professores">Professores</a>
        
        {% if session.get('tipo') == 1 %}
            <a href="/cadastrar_admin">Cadastrar Administrador</a>
            <a href="/cadastrar_professor">Cadastrar Professor</a>
            <a href="/cadastrar_materia">Cadastrar Matéria</a>
            <a href="/usuarios">Ver Usuários</a>
        {% endif %}
        
        {% if session.get('email') %}
            <a href="/logout">Sair</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </nav>
    <main>
        {% if session.get('type')|int == 1 %}
            <h2>Painel do Administrador</h2>
            <p>Utilize as opções acima para gerenciar o sistema.</p>
        {% else %}
            <h2>Bem vindo!</h2>
            <p>Clique nos botões acima para explorar as avaliações.</p>        
        {% endif %}
    </main>
    <footer>
        <p>PPG © 2025 - All Rights Reserved</p>
    </footer>
</body>
</html>
